* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    padding: 30px;
    background-color: maroon;
    color: white;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
    box-shadow:  0px 0px 30px rgba(227, 228, 237, 0.37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header.sticky ul li a{
    color: maroon;
}

body{
    background: white;
}

.logo{
    align-items: center;
    display: flex;
}

img{
    margin-right: 17px;
    width: 50px;
    float: inline-start;
}


.logo p{
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    font-size: 30px;
    margin-right: 20px;
    display: inline;
}

nav {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}


nav ul li{
    position: relative;
    display: inline;
    float: left;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
    border-radius: 30px;
}


nav ul li a::after{
    position: absolute;
    content: "";
    inset: 0;
    background: maroon;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
}

nav ul li a:hover{
    color: hsl(0, 0%, 0%);
    background: #ffffff;
}

nav ul li a::after{
    scale: 1 1;
}

.container{
    background-image: url(img/bgpup.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.homepage{
    padding: 200px;
    position: relative;
    color: white;
    overflow: hidden;
}

.homepage h1{
    position: relative;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

.overview{
    padding-top: 8%;
    padding-bottom: 7%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    min-height: 100%;
}

.abtorg{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Montseratt", sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 10px grey;
}

.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 40px;
    max-width: 1200px;
    width: 100%;
}

.card{
    position: relative;
    display: flex;
    list-style: none;
    height: 700px;
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    box-shadow: 2px 2px 20px black;
    filter: brightness(0.75) saturate(1,2) contrast(0.85);
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear,transform 200ms linear;
}

.card:hover .background{
    transform: scale(1.05) translateZ(0);
}

.box:hover > .card:not(:hover) .background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.content{
    position: relative;
    top: 0;
    left: 0;
    padding: 24px;
    
}

.content .name{
    color: maroon;
    position: absolute; 
    display: inline;
    bottom: 20px; 
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 1.4;
    word-spacing: 100vw;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

@media screen and (max-width: 950px) {
    .box{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 30px ;
}
}

@media screen and (max-width: 450px) {
    .box{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px ;
}
}

.last{
    width: 100%;
    height: 110vh;
    background: maroon;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
}

.contact{
    width: 80%;
    margin: 50px auto;
    margin-top: 10px;
}

.contact-box {
    background: #fff;
    box-shadow: 2px 2px 20px black;
    display: flex;
    border-radius: 20px;
}

.contactleft {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contactright {
    flex-basis: 40%;
    padding: 40px;
    background-color: maroon;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact h1{
    margin-bottom: 10px;
    color: #ffffff;
}

.contact p{
    margin-bottom: 40px;
    color: #ffffff;
}

.inputrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputrow .inputgroup{
    flex-basis: 45%;
    margin-right: 15px;
    margin-bottom: 25px;
}

.inputrow .inputgroup:nth-child(2n){
    margin-right: 0;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: maroon;
}

button{
    background: maroon;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(181, 0, 0, 0.3);
}

.contactleft h3{
    color: maroon;
    font-weight: 800;
    margin-bottom: 30px;
}

.contactright h3{
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}

.icons{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.icons a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}

.icons a i{
    font-size: 2rem;
    color: hsl(0, 100%, 25%);
    opacity: 0.9;
}

.icons a:hover{
    background-color: maroon;
    transition: 0.5s;
}

.icons a:hover i{
    color: white;
    transition: 0.5s;
}

.wired{
    width: 100%;
    background-image: url(img/pupwired.jpg);
    position: flex;
    position: center;
    height: 80vh;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90vh;
    margin-bottom: 50px;
}

.wired h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(128, 0, 0);
}

.wired p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.text{
    font-family: "Poppins", sans-serif;
    color: maroon;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px; 
    padding-top: 30vh;
}

.iconswired{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.iconswired a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}

.iconswired a i{
    font-size: 2rem;
    color: hsl(0, 100%, 25%);
    opacity: 0.9;
}

.iconswired a:hover{
    background-color: maroon;
    transition: 0.5s;
}

.iconswired a:hover i{
    color: white;
    transition: 0.5s;
}

.gdsc {
    width: 100%;
    background-image: url(img/gdsccc.jpg);
    height: 70vh;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 69vh;
}

.gdsc h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: maroon;
    margin-top: 15px;
}

.gdsc p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.textgdsc{
    font-family: "Poppins", sans-serif;
    color: maroon;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 53vh;
}

.iconsgdsc{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.iconsgdsc a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}


.iconsgdsc a i{
    font-size: 2rem;
    color: hsl(0, 100%, 25%);
    opacity: 0.9;
}

.iconsgdsc a:hover{
    background-color: maroon;
    transition: 0.5s;
}

.iconsgdsc a:hover i{
    color: white;
    transition: 0.5s;
}

.programmers {
    width: 100%;
    background-image: url(img/prgmrscover.jpg);
    height: 70vh;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70vh;
}

.programmers h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: maroon;
}

.programmers p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.textprog {
    font-family: "Poppins", sans-serif;
    color: maroon;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 55vh;
}

.iconsprog {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.iconsprog a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}


.iconsprog a i{
    font-size: 2rem;
    color: hsl(0, 100%, 25%);
    opacity: 0.9;
}

.iconsprog a:hover{
    background-color: maroon;
    transition: 0.5s;
}

.iconsprog a:hover i{
    color: white;
    transition: 0.5s;
}

.aws{
    background-image: url(img/awscover.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70vh;
}

.aws h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: maroon;
}

.aws p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.textaws{
    font-family: "Poppins", sans-serif;
    color: maroon;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 55vh;
}

.iconsaws{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.iconsaws a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}

.iconsaws a i{
    font-size: 2rem;
    color: hsl(0, 100%, 25%);
    opacity: 0.9;
}

.iconsaws a:hover{
    background-color: maroon;
    transition: 0.5s;
}

.iconsaws a:hover i{
    color: white;
    transition: 0.5s;
}

footer p{
    padding: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #ffd700;
    background-color: maroon;
}
